<div class="page-wrapper">
<div class="header-nav-container">
  <div class="navheader">CHRIS KASTRITIS</div>
<ul class="nav">
  <li><a href="home">HOME</a></li>
  <li><a href="projects">PROJECTS</a></li>
  <li><a class="active" href="aboutMe">ABOUT</a></li>
  <li><a class="resume" href="Resume.pdf" target="_blank">RESUME</a></li>
</ul>
</div>
<div class="about">
<img src="ChrisKastritis1.JPG" class="center">
<div class ="text">
<h1 class="aboutheader">About Me</h1>
<br/>
<p class="aboutme">I've always had a passion for problem-solving. As a kid, I spent countless hours working through logic puzzle books my parents gave me 
  just for fun. That same curiosity and love for challenges naturally led me to programming, which I discovered in my first high school coding class. 
  From that moment on, I took every programming course available because I knew there was nothing else I wanted to do more in my life. 
</p>
<br/>
<p class="aboutme">
This enthusiasm carried through to college, where I worked hard early on and positioned myself to graduate with my bachelor's degree in just three years. 
Instead of rushing through, I chose to join my university’s accelerated bachelor’s/master’s program. This allowed me to slow down a bit and earn my master’s 
degree with just one additional year of study. Thanks to this decision and my dedication, I graduated with both a Bachelor’s and Master’s degree in Computer Science in just four and a half years.
  
</p>
<br>  
</div>
</div>

<div class="bottom-bar">
  <div class="footer">CHRIS KASTRITIS</div>
  <div class="link-container">
  <a href="https://www.linkedin.com/in/christopher-kastritis-3103b5208/" target="_blank"><img class="links" src="LinkedIn.png" style="width:100%; margin-right: 2vw;"></a>
  <a href="https://github.com/Chris-Kastritis" target="_blank"><img class="links" src="github-mark.png" style="width:100%;"></a>
  </div>
</div>


</div>