.links{
    max-width:5vh;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
}
.bottom-bar {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-start; /* keeps items on opposite sides */
  padding: 10px 5px;
  gap: 2vw
}
.aboutme {
    font-size: 2vh;
}
