<ul class="nav">
  <li><a href="home">Home</a></li>
  <li><a class="active" href="aboutMe">About Me</a></li>
  <li><a href="Resume.pdf" target="_blank">Resume</a></li>
</ul>
<img src="ChrisKastritis.JPG" class="center">
<p class="aboutme">My name is Chris Kastritis. I have always enjoyed problem solving ever since I was a kid when my parents would get me books filled with different kinds of logic puzzles which I would do for fun in my free time. When I first started learning software programming I quickly figured out what I wanted to do for my career. This continued throughout college and into my internship where I got to take charge of my own software solutions and see my hard work materialized into something that people were actually going to use. Now that I just graduated with my Masters degree in Computer Science I am looking for a full time job using my experiences I have gained in college and my internships mainly in full stack and agile development.</p>
<div class="bottom-bar">
  <a href="https://www.linkedin.com/in/christopher-kastritis-3103b5208/" target="_blank"><img class="links" src="LinkedIn.png" style="width:100%; margin-top:4px"></a>
  <a href="https://github.com/Chris-Kastritis" target="_blank"><img class="links" src="github-mark.png" style="width:100%"></a>
</div>

