<div class="page-wrapper">
<div class="header-nav-container">
  <div class="navheader">CHRIS KASTRITIS</div>
<ul class="nav">
  <li><a  href="home">HOME</a></li>
  <li><a class="active" href="projects">PROJECTS</a></li>
  <li><a href="aboutMe">ABOUT</a></li>
  <li><a class="resume" href="Resume.pdf" target="_blank">RESUME</a></li>
</ul>
</div>

<div class="about">
<a href="gameboard" class="link">
<div class="image">
  <div class="text">
    <p>Click here for more details</p>
  </div>
</div>
</a>
<div class ="text1">
  <h1 class="projectnum">PROJECT 1:</h1>
  <h1 class="aboutheader">DnD Gameboard</h1>
  <p class="aboutme">This project was created to help lower the barrier to entry for playing Dungeons & Dragons. 
    Getting into DnD can be expensive, especially if you buy all the official books, maps, and miniatures. 
    To make the game more accessible, I developed a free program that lets players share and interact with maps online. 
    It’s a great tool for remote groups and anyone looking to enjoy one of my favorite hobbies without the high cost.
  </p>
</div>
</div>

<div class="bottom-bar">
  <div class="footer">CHRIS KASTRITIS</div>
  <div class="link-container">
  <a href="https://www.linkedin.com/in/christopher-kastritis-3103b5208/" target="_blank"><img class="links" src="LinkedIn.png" style="width:100%; margin-right: 2vw;"></a>
  <a href="https://github.com/Chris-Kastritis" target="_blank"><img class="links" src="github-mark.png" style="width:100%;"></a>
  </div>
</div>
</div>