
/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  text-align: center;
  font-size: xx-large;
  font-family: 'Times New Roman'
}

.body {
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width:100%;
}

li {

  text-align:left;
}

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
  }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }

.active {
  background-color: #04AA6D;
}
