<div class="page-wrapper">
<div class="header-nav-container">
  <div class="navheader">CHRIS KASTRITIS</div>
<ul class="nav">
  <li><a class="active" href="home">HOME</a></li>
  <li><a href="projects">PROJECTS</a></li>
  <li><a href="aboutMe">ABOUT</a></li>
  <li><a class="resume" href="Resume.pdf" target="_blank">RESUME</a></li>
</ul>
</div>
<div class="container">
<section class="section">
  <div class="header">
    <h1 class = "name">Hi, I'm Chris Kastritis! </h1>
    <i class="welcome">Welcome To My Portfolio</i>
    <p class="tagline">Full Stack Developer building seamless, scalable web applications from front to back.</p>
    <a href="projects" class="projects">PROJECTS</a>
  </div>
</section>
<img src="profile.jpg" class="profile">
</div>

<div class="bottom-bar">
  <div class="footer">CHRIS KASTRITIS</div>
  <div class="link-container">
  <a href="https://www.linkedin.com/in/christopher-kastritis-3103b5208/" target="_blank"><img class="links" src="LinkedIn.png" style="width:100%; margin-right: 2vw;"></a>
  <a href="https://github.com/Chris-Kastritis" target="_blank"><img class="links" src="github-mark.png" style="width:100%;"></a>
  </div>
</div>
</div>